<h1>Cart</h1>
{{#each items}}
 <div class="containerWom">
   <div class="cards">
         <div class="card" style="width: 18rem;">
      <img src={{this.imageUrl}} class="card-img-top" alt="..." style="width:18rem">
      <div class="card-body">
          <h4 class="card-title">{{this.title}}</h4>
          <p class="card-text">{{this.description}}</p>
          <p class="card-price">£{{this.price}}</p>
          <p class="card-number">{{this.count}} in cart</p>
      </div>
    </div>  

   </div>

 </div> 

{{/each}}