<h1>Bit-By-Bit</h1>

<!--NAV BAR STATIC-->   
<div class="vertical-menu">
  <!-- home button logo --> 
  <a href="/" id="homelink"><i class="fas fa-home" id="home-icon"></i></a>
   <a href="groceries.handlebars" id="groceries-link">Groceries</a>
  <a href="homeware.handlebars" id="homeware-link">Homeware</a>
  <a href="sport.handlebars" id="sport-link">Sports</a>
  <a href="womens.handlebars" id="womens-link">Women's Design</a>
  <!--shopping cart logo // MAKE IT LINK TO THIS PAGE-->
  <i class="fas fa-shopping-cart"></i>
</div>

 
</div>
<!--shopping cart page-->
<div class="container cart">
  <div class="small-container cart-page">
    <table>
      <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>Subtotal</th>
      </tr>
      
      <!--PLACEHOLDER ITEM-->
<tr>
  <td>
    {{#each items}}
    <div class="cart-info">
        <img src={{this.imageUrl}} class="card-img-top" alt="..." style="width:5rem">
      <div class="product">
        <h4 class="card-title">{{this.title}}</h4>
        <small><p class="card-price">£{{this.price}}</p></small>
        <!--<small><p class="card-number">{{this.count}} in cart</p></small>-->
        <button item-id={{this.id}} class="remove-btn">Remove</button>
      </div>

      <div class="btnSub">
        <div class="qty">
          <input type="number" value={{this.count}}>
        </div>
        
        <div class="subtotal">
          <h3>£{{this.totalPrice}}</h3>
        </div>
        
      </div>
    </div>
    {{/each}}
    
  </td>
</tr>
</table>

<!--TOTAL PRICE SECTION -->
<div class="total-price">
  <table>
    <tr>
      <td>Total</td> <!--js sum function dom -->
      <td>£{{total}}</td>
    </tr>
  </table>
</div>
    
    <!--ADD A DELETE BUTTON TO COMPLETELY REMOVE ITEMS FROM SHOPPING CART?
ADD A BUY NOW BUTTON HERE TOO :) -->
<div class="buttons">
  <button class="btnAddRem"><span>Buy Now</span><br><i class="fas fa-shopping-basket"></i></button>
  <br>
  <br>
</div>
</div>  
</div>

<script>
  const homeIcon = document.getElementById("home-icon");
    const homeLink = document.querySelector("homelink");
    homelink.addEventListener("click", async () => {
      await fetch("http://localhost:4000/home"),{
      method: "GET"
      }
});
// Remove button 
let removeCartItemButtons = document.getElementsByClassName('remove-btn')
console.log(removeCartItemButtons)

for (let i = 0; i < removeCartItemButtons.length; i++) {
    let button= removeCartItemButtons[i]
    button.addEventListener('click', function(event) {
    let buttonClicked = event.target
    const itemId = buttonClicked.getAttribute("item-id");
    buttonClicked.parentElement.parentElement.remove()
    fetch("/cart/" + itemId, {method: "DELETE"});
  })
}
 </script> 
