<h1>Bit-By-Bit</h1>
     
<div class="vertical-menu">
   <!-- home button logo --> 
  <a href="/" id="homelink"><i class="fas fa-home" id="home-icon"></i></a>
  <a href="groceries.handlebars" id="groceries-link">Groceries</a>
  <a href="homeware.handlebars" id="homeware-link">Homeware</a>
  <a href="sport.handlebars" id="sport-link">Sports</a>
  <a href="womens.handlebars" id="womens-link">Women's Design</a>
  <!--shopping cart logo // MAKE IT LINK TO THIS PAGE-->
  <a href="checkout.handlebars" id="link"><i class="fas fa-shopping-cart" id="cart-icon"></i></a>
</div>

<div class="container">
  <div class="cards">
 {{#each item}}
      <div class="card">
      <div class="card-body">
          <img src={{this.imageUrl}} class="card-img-top" alt="..." style="width:18rem">
          <h4 class="card-title">{{this.title}}</h4>
          <p class="card-text">{{this.description}}</p>
          <p class="card-price">£{{this.price}}</p>
          <button item-id={{this.id}} class="btn btn-primary add">Add To Cart</button>
      </div>
    </div>  
{{/each}}
  </div>
 </div> 

<script>
  const homeIcon = document.getElementById("home-icon");
    const homeLink = document.getElementById("homelink");
    homeLink.addEventListener("click", async () => {
      await fetch("http://localhost:4000/home"),{
      method: "GET"
      }
});

const cartIcon = document.getElementById("cart-icon");
const link = document.querySelector("link");
link.addEventListener("click", async () => {
  await fetch("http://localhost:4000/cart"),{
  method: "GET"
  }
});

document.querySelectorAll("button.add").forEach(button => {
  const itemId = button.getAttribute("item-id");
  button.addEventListener("click", async () => {
    const response = await fetch("/cart", {
      method: "POST",
      headers: {
        "Content-Type": "application/json"
      },
      body: JSON.stringify({ itemId })
    })
    const cart = await response.json();
    log(cart);
  });
});

</script>

  


